

.container {
  width: 90%;
  max-width: 500px;
  text-align: center;
  background: #1a1a1a;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container h1 {
  font-weight: 500;
  font-size: clamp(2rem, 1.5rem + 1vw, 3rem);
  color: #fff;
  margin-bottom: 20px;
}

.container h1 span {
  background: #cf1512;
  background: linear-gradient(to right, #cf1512 0%, #f27121 50%, #8a2387 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 5px;
}

.display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #28282d;
  color: #f0f0f0;
  padding: 15px 20px;
  border-radius: 10px;
  margin: 20px 0;
}

.display input {
  background: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  color: #f0f0f0;
  flex-grow: 1;
  margin-right: 10px;
}

.display input::placeholder {
  color: #aaa;
}

.display i {
  font-size: 24px;
  cursor: pointer;
  color: #f27121;
  transition: transform 0.2s, color 0.2s;
}

.display i:hover {
  color: #cf1512;
  transform: scale(1.2);
}

.container button {
  border: none;
  outline: none;
  background: linear-gradient(to right, #cf1512, #f27121, #8a2387);
  color: white;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.3s;
}

.container button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.container button img {
  width: 20px;
  margin-right: 10px;
}
